/*CSS Resets*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*Style*/
body {
	font: 16px/20px arial, sans-serif;
	background-image: url(pattern.png);
}

.container {
	width: 960px;
	margin: 80px auto;
	background-color: #fff;
}

header{
	padding: 20px;
}

header .judul{
	font-size: 40px;
	font-weight: bold;
}

header ul li{
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}

header a{
	text-decoration: none;
	color: salmon;
	padding: 3px;
}
header a:hover{
	background-color: lightskyblue;
	color: white;
}
 
.hero{
	height: 350px;
	background-image: url(hero-image.png);
	background-size: cover;
	border-top: 5px solid salmon;
	border-bottom: 5px solid lightskyblue;
}

.main{
	width: 600px;
	padding: 20px;
	box-sizing: border-box;
	float: left;
}


.main h2{
	font-size: 28px;
	font-weight: bold;
}

.main .penulis{
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main p{
	margin-bottom: 14px;
	font-size: 20px;
}

.footer{
	background-color: #333;
	padding: 20px;
}

.footer .copy{
	color: #eaeaea;
	text-align: center;
	font-size: 12px;
}


img{
	width: 70px;
	float: left;
	padding-right: 10px;
}

.sidebar{
	width: 300px;
	float: right;
	padding: 20px;
	box-sizing: border-box;
}

.sidebar h3{
	font-weight: bold;
	color: #666;
	margin-bottom: 20px;

}

.sidebar p{
	font: 12px/18px arial;
}












/*Micro Clearfix*/
	.clear-fix:before,
	.clear-fix:after {
    	content: " "; /* 1 */
    	display: table; /* 2 */
	}

	.clear-fix:after {
    	clear: both;
	}